<div [@routerTransition]>
  <div class="dashboard">
    <span class="h2">Dashboard</span>

    <div class="card mt-2"*ngIf="items.customers!==undefined">
      <div class="card-body">
        <div class="card-title">{{items.customers.length}} Customers asynced with Lightspeed</div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>Email/Name</th>
              <th>Lightspeed ID</th>
            </thead>
            <tbody>
              <tr *ngFor="let customer of items.customers">
                <td>{{customer.email}}<br />{{customer.name}}</td>
                <td>{{customer.customer_lightspeed_id}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-body">
        <div class="table-responsive">
          <div class="card-title">Latest ten stock movements</div>
          <table class="table">
            <thead>
              <th>Name</th>
              <th>Action</th>
              <th>Date</th>
            </thead>
            <tbody>
              <tr *ngFor="let product of items.products">
                <td><a href="/catalog/products/{{product.id}}">{{product.name}}</a></td>
                <td>{{product.status == 1 ? 'enabled back' : 'disabled'}}</td>
                <td>{{product.created_on}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
